%tr.item
  %td
    = f.fields_for :entrada do |fe|
      = fe.text_field :nombre
  %td.direccion= f.select :direccion, "<option>a->p</option><option>p->a</option>".html_safe
  %td
    = f.fields_for :salida do |fs|
      = fs.text_field :nombre
  %td
    = link_to image_tag('fugue-icons/cross.png'),
              '#', class: 'remove', data: { confirm: '¡Confirmalo!' }
    = f.hidden_field :id
    = f.hidden_field :_destroy
