#encoding: utf-8

%h1 Productos

%table.table.table-hover
  %tr
    %th Nombre
    %th Descripción
    %th
    %th
    %th

  - @productos.each do |producto|
    %tr
      %td= producto.nombre
      %td= producto.descripcion
      %td= link_to 'Mostrar', producto
      %td= link_to 'Editar', edit_producto_path(producto)
      %td= link_to 'Eliminar', producto, method: :delete, data: { confirm: '¿Borrar o no borrar? Esa es la cuestión.' }

%br

= link_to 'Nuevo producto', new_producto_path, class: 'btn'
