#encoding: utf-8

!!!
%html
  %head
    %Title Redes Productivas
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container-fluid
          %a.brand RedesProductivas
          %ul.nav
            %li= link_to 'Productos', productos_path
            %li= link_to 'Actividades', actividades_path
            %li= link_to 'Cadenas', cadenas_path
          
    .container-fluid
      .row-fluid
        .span3
          .well.sidebar-nav
            %ul.nav.nav-list
              %li.nav-header Complejos
              %li= link_to 'Textil', '#'
              %li= link_to 'Cítricos', '#'

        .span9
          = yield
